<ul class="nav nav-tabs">
  <% @section_types.each do |section| %>
      <li class="nav-item">
        <a class="nav-link <%= section.name == @active_section? 'active' :(section.id == 1 && @active_section == ''? 'active': '') %>" data-toggle="tab" href="#section_<%= section.id %>"><%= section.name %></a>
      </li>
  <% end %>
</ul>
<div class="tab-content">
  <% @sections.each do |section| %>
      <div id="section_<%= section.id %>" class="tab-pane <%= section.name == @active_section? 'active' :(section.id == 1 && @active_section == ''? 'active': '') %>">
        <form id ="sort-form-<%= section.id %>" action="sections" method="get" class="form-inline">
          <div class="form-group">
          <select id="sort-type-<%= section.id %>" name="sort_type" class="form-control">
            <option>Sort by...</option>
            <option value="aToz" <%= @sort_type == 'aToz' && section.name == @active_section? 'selected' :'' %>>A to Z</option>
            <option value="priceLow" <%= @sort_type == 'priceLow' && section.name == @active_section? 'selected' :'' %>>Price Low to High</option>
            <option value="priceHigh" <%= @sort_type == 'priceHigh' && section.name == @active_section? 'selected' :'' %>>Price High to Low</option>
          </select>
            </div>
          <div class="form-group">
            <input type="hidden" value="<%= section.name %>" name="sort_section">
            </div>
          <button type="submit" class="btn btn-success">Sort</button>
        </form>
        <!--<h3> link_to section.name, section_path(section) %></h3>-->

        <!--<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 350 }'>-->
          <% count = 1 %>
          <% iterator = section.foods.order('view_no DESC').each %>
          <% if section.name == @active_section  %>
            <% if @sort_type == 'aToz' %>
              <% iterator = section.foods.order('name').each %>
            <% elsif @sort_type == 'priceLow' %>
              <% iterator = section.foods.order('price').each %>
            <% elsif @sort_type == ('priceHigh') %>
              <% iterator = section.foods.order('price DESC').each %>
            <% end %>
          <% end %>

          <% iterator.each do |food| %>
              <% if count=1 %>
                  <div class="grid">
              <% end %>
              <div class="grid-item col-md-4">
              <% if food.picture && food.picture!='' %>
                  <%= image_tag(food.picture, class: "card-img-top", width: "300", height: "300") %>
              <% else %>
                  <%= image_tag("http://lorempixel.com/200/200/", class: "card-img-top", width: "300", height: "300") %>
              <% end %>
              <div class="card-block">
                <h4 class="card-title"><%= food.name %></h4>
                <p class="card-text">
                  <span class="more" id="more-<%= food.id %>">
                    <span class="moreellipses">&nbsp;</span>
                    <span class="morecontent">
                      <span>blah</span>&nbsp;&nbsp;<a id="morelink-<%= food.id %>" class="morelink" data-remote="true" href="/view_food_more_info.js?food_id=<%= food.id %>">Details &gt;</a>
                    </span>
                  </span>
                </p>
                <p><span class="view_no" id="view-<%= food.id%>"><%= food.view_no !=nil ? food.view_no : 0 %></span> views</p>
                <p><%= number_to_currency(food.price, precision: 0, separator: '.', delimiter: '.', unit: '', format: "%n VND") %></p>

                <%= link_to "Order", add_to_order_path(food_id: food.id), class: "btn btn-primary add_to_order", :remote => true %>
              </div>
            </div>
              <% if count==1 %>

                  </div>
                  <% else if count == 3%>
                      <% count = 1 %>
              <% end %>
                  <% count = count+1 %>
          <% end %>
        <% end %>
       <!-- </div>-->
      </div>
  <% end %>
</div>
